{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "bracketSpacing": false,
        "explicitTypes": "never"
      }
    },
    {
      "files": "*.py",
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": true,
        "bracketSpacing": false
      }
    }
  ]
}
